.btn{
	-fx-background-color:   #81d2c3;
}
.btn:hover{
	-fx-background-color:   #1a1aff;
	-fx-text-fill: white;
	-fx-cursor: hand;
}
.close:hover{
	-fx-text-fill: white;
	-fx-background-color:   red;
	-fx-cursor: hand;
}